
<mat-toolbar class="header">
  <a class="logo">Tutorials Blog</a>
  <nav>
    <ul class="header-ul">
      <a class="nav-links">Placeholder</a>
      <a class="nav-links">About</a>
      <a class="nav-links profile-btn">Profile</a>
    </ul>
  </nav>
</mat-toolbar>

<main>
  <article class="main-article">
    <mat-card class="main-card">
      <img mat-card-image class="main-card-img"
           src="https://images.pexels.com/photos/267389/pexels-photo-267389.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
           alt="Photo of a Blog Article">
      <a class="card-title">Main Article</a>
      <p class="card-subtitle">Main Article Category</p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium at, incidunt id beatae, excepturi fugiat
        illo similique ipsum numquam commodi provident!
      </p>
    </mat-card>

    <section class="small-cards-section">

      <div class="small-card">
        <img class="main-card-img"
             src="https://images.pexels.com/photos/267389/pexels-photo-267389.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
             alt="Photo of a Blog Article">
        <div class="content">
          <a class="card-title">Main Article</a>
          <p class="card-subtitle">Main Article Category</p>
          <p class="card-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium at, incidunt id beatae, excepturi fugiat
            illo similique ipsum numquam commodi provident!
          </p>
        </div>
      </div>

      <div class="small-card">
        <img class="main-card-img"
             src="https://images.pexels.com/photos/267389/pexels-photo-267389.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
             alt="Photo of a Blog Article">
        <div class="content">
          <a class="card-title">Main Article</a>
          <p class="card-subtitle">Main Article Category</p>
          <p class="card-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium at, incidunt id beatae, excepturi fugiat
            illo similique ipsum numquam commodi provident!
          </p>
        </div>
      </div>

      <div class="small-card">
        <img class="main-card-img"
             src="https://images.pexels.com/photos/267389/pexels-photo-267389.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
             alt="Photo of a Blog Article">
        <div class="content">
          <a class="card-title">Main Article</a>
          <p class="card-subtitle">Main Article Category</p>
          <p class="card-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium at, incidunt id beatae, excepturi fugiat
            illo similique ipsum numquam commodi provident!
          </p>
        </div>
      </div>
    </section>
  </article>

  <section class="main-sec">
    <div class="cards-container">
      <mat-card class="cards">
        <img mat-card-image
             src="https://images.pexels.com/photos/267389/pexels-photo-267389.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
             alt="Photo of a Blog Article">
        <a class="card-title">Main Article</a>
        <p class="card-subtitle">Main Article Category</p>
        <mat-card-content>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium at, incidunt id beatae, excepturi fugiat
            illo similique ipsum numquam commodi provident!
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card class="cards">
        <img mat-card-image
             src="https://images.pexels.com/photos/267389/pexels-photo-267389.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
             alt="Photo of a Blog Article">
        <a class="card-title">Main Article</a>
        <p class="card-subtitle">Main Article Category</p>
        <mat-card-content>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium at, incidunt id beatae, excepturi fugiat
            illo similique ipsum numquam commodi provident!
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card class="cards">
        <img mat-card-image
             src="https://images.pexels.com/photos/267389/pexels-photo-267389.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
             alt="Photo of a Blog Article">
        <a class="card-title">Main Article</a>
        <p class="card-subtitle">Main Article Category</p>
        <mat-card-content>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium at, incidunt id beatae, excepturi fugiat
            illo similique ipsum numquam commodi provident!
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card class="cards">
        <img mat-card-image
             src="https://images.pexels.com/photos/267389/pexels-photo-267389.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
             alt="Photo of a Blog Article">
        <a class="card-title">Main Article</a>
        <p class="card-subtitle">Main Article Category</p>
        <mat-card-content>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium at, incidunt id beatae, excepturi fugiat
            illo similique ipsum numquam commodi provident!
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </section>
</main>

<footer>
  <span>&copy; All rights reserved.</span>
  <span>2022</span>
</footer>







<!--
<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!forecasts"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>

<table *ngIf="forecasts">
    <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let forecast of forecasts">
            <td>{{ forecast.date }}</td>
            <td>{{ forecast.temperatureC }}</td>
            <td>{{ forecast.temperatureF }}</td>
            <td>{{ forecast.summary }}</td>
        </tr>
    </tbody>
</table>
-->
