* {
  font-family: "Poppins", sans-serif;
}

a {
  cursor: pointer;
}

.header {
  background: var(--primary);
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: static;
}

.logo {
  color: #fff;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 0.5px;
  font-weight: 400;
}

.header-ul ul {
  padding-inline-start: none !important;
}

.header-ul a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  margin-left: 10px;
}

.nav-links {
  padding: .5rem;
  border-radius: 4px;
  font-size: 1rem;
}

  .nav-links:hover {
    background-color: var(--accent);
  }

.main-article {
  height: 30rem;
  margin: 1rem auto;
  width: 90%;
  display: flex;
}

.small-cards-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  padding: 0 10px;
}

.main-sec {
  margin: 2rem auto;
  width: 90%;
}

.cards-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
  justify-content: space-evenly;
}

:host::ng-deep .mat-card {
  box-shadow: 0px 0px 68px -3px rgba(207, 207, 207, 0.123);
}

.main-card {
  width: 50%;
  max-height: 100%;
  margin: 0 auto;
}

.main-card-img {
  height: 300px;
  /* border-radius: 4px; */
  object-fit: cover;
}

.card-title {
  color: var(--primary);
  font-weight: bold;
  font-size: 1rem;
}

.card-subtitle {
  margin: 0;
  color: var(--accent);
  font-size: .9rem;
}

.card-description {
  font-size: .8rem;
  margin: .5rem 0;
}

.small-card {
  display: flex;
  background: #fff;
  overflow: hidden;
  border-radius: 4px;
}

.small-cards-section img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  /* border-radius: none !important; */
}

.content {
  padding: 10px;
}

.cards {
  max-width: 22rem;
}

img.mat-card-image {
  border-radius: 4px;
}

footer {
  display: flex;
  justify-content: space-between;
  color: #fff;
  height: 3rem;
  padding: 0 1rem;
  align-items: center;
}
